# /etc/systemd/system/dp-ez-base.service

[Unit]
Description=DreamPip EZ Service Base Node
Requires=dp-ez-baseline.service
After=dp-ez-baseline.service

[Service]
User=root
Type=simple
RemainAfterExit=yes
WorkingDirectory=/mnt/audio-archive
ExecStart=/usr/bin/ezstream -c _ez-base.conf && echo "dp::euterpe::ez::base::(active)::DreamPip Base EZ Service Started"
ExecStop= echo "dp::euterpe::ez::base::(stopped)::DreamPip Base EZ Service Started"
TimeoutStartSec=90
Restart=always
StartLimitIntervalSec=60
StartLimitBurst=3
[Install]
WantedBy=multi-user.target
